<h2>Mis Tickets</h2>

<button class="btn btn-primary floating-btn" (click)="createTicket()">
  + Nuevo Ticket
</button>

@if (tickets.length > 0){
<table class="table">
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Prioridad</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let t of tickets">

      <!--td>{{ t.description }}</td-->
      <td>{{ t.description | slice:0:85 }}{{ t.description.length > 85 ? '...' : '' }}</td>

      <td>
        <span class="badge"
          [ngClass]="{
          'low': t.priority === 1,
          'medium': t.priority === 2,
          'high': t.priority === 3
        }">
          {{ priorityMap[t.priority] }}
        </span>
      </td>

      <td>
        <span class="badge"
          [ngClass]="{
          'open': t.status === 1,
          'progress': t.status === 2,
          'closed': t.status === 3
        }">
          {{ statusMap[t.status] }}
        </span>
      </td>

      <td class="actions">
        <button class="btn btn-outline" (click)="viewHistory(t)">
          <span class="material-icons">history</span>
        </button>
      </td>

    </tr>
  </tbody>
</table>
} @else {
  <p style="margin-top:2rem">No tienes tickets abiertos. Crea uno nuevo!</p>
}