.table{
  margin-top:20px;
  background:var(--surface);
  color:#fff;
}

.table th{ color:#fff; }

.badge{
  padding:6px 12px;
  border-radius:20px;
  font-size:12px;
  font-weight:600;
}

/* STATUS */
.badge.open{
  background:#fff3e0;
  color:#ff9800;
}

.badge.progress{
  background:#e3f2fd;
  color:#3FA7D6;
}

.badge.closed{
  background:#e8f5e9;
  color:green;
}

/* PRIORITY */
.badge.low{
  background:#f1f5f9;
  color:#64748b;
}

.badge.medium{
  background:#e3f2fd;
  color:#3FA7D6;
}

.badge.high{
  background:#fdecea;
  color:#e53935;
}

.badge.critical {
  background: #b91c1c;
  color: white;
  font-weight: bold;
}

/* BOTONES ACCIONES */
.actions .btn{
  padding:6px 10px;
  border-radius:6px;
}

.floating-btn{
  position:sticky;
  background:var(--surface);
  color:var(--text-primary);
  bottom:30px;
  right:30px;
  height:60px;
  font-size:28px;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

/* Inputs y selects iguales */
.swal2-input,
.swal2-select {
  display: block !important;
  width: 100% !important;
  max-width: 100% !important;

  box-sizing: border-box !important;

  height: 42px !important;
  min-height: 42px !important;

  padding: 0 10px !important;

  margin: 10px 0 !important;

  border-radius: 6px !important;
  border: 1px solid var(--border) !important;

  font-size: 14px !important;
  background-color: white !important;
}

.swal2-actions {
  flex-wrap: wrap;
}

.swal-form {
  display: flex;
  flex-direction: column;
}

.swal2-confirm,
.swal2-cancel {
  flex: 1;
  min-width: 120px;
}

.tabs .btn.active{
  background: var(--accent);
  color: white;
}