.btn-create {
    margin-bottom: 1rem;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.filters input,
.filters select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--border);
}